# Build folder and files #
##########################
builds/

# Development folders and files #
#################################
dist/
node_modules/

# Log files & folders #
#######################
logs/
*.log
npm-debug.log*
.npm